<form action="/users/update" method="POST" enctype="multipart/form-data">
<img src="<%= locals.user_profile.avatar %>" alt="<%= user_profile.name %>" height="200px" width="200px">
<label for="name">Name :</label>
<br>
<input type="text" value="<%= locals.user_profile.name %>" name="name" id="name">
<br>
<label for="phone">Phone :</label>
<br>
<input type="text" value="<%= locals.user_profile.phone%>" name="phone" id="phone">
<br>
<label for="address">Address :</label>
<br>
<input type="text" value="<%= locals.user_profile.address%>" name="address" id="address">
<br>
<label for="city">City :</label>
<br>
<input type="text" value="<%= locals.user_profile.city%>" name="city" id="city">
<br>
<label for="pincode">Pincode :</label>
<br>
<input type="text" value="<%= locals.user_profile.pincode%>" name="pincode" id="pincode">
<br>
<label for="avatar">Profile Picture :</label>
<br>
<input type="file" value="" name="avatar" id="avatar" placeholder="Profile Picture">
<br>
<br>

<input type="submit" value="Update">
<br>
</form>
